body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  @media only screen and (max-width: 900px) {
    font-size: 42px;
  }
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  margin: 0;
}

.textGradient {
  background: linear-gradient(90deg, #E3AC09 0%, #C32D22 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.depoimento {
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  @media only screen and (max-width: 900px) {
    font-size: 18px;
    line-height: 27px;
  }
  @media only screen and (min-width: 900px) {
    font-size: 24px;
    line-height: 47px;
  }
}

.imgcapa {
  @media only screen and (max-width: 900px) {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 200px;
  }
  @media only screen and (min-width: 900px) {
    width: 400px;
  }
}


.isCard {
  background-color: rgb(244, 244, 244);
  box-shadow: none;
}

.isCard:hover {
  background-color: white;
  box-shadow: 2px 2px #ebebeb;
}

.bg-gradiente {
  background: var(--gradiente-linear, linear-gradient(222deg, #BE1518 0%, #9C0C0F 45.31%, #740205 100%));
}

