<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Primary Meta Tags -->
    <title>RH MIX</title>
    <meta name="title" content="RH MIX - Serviços Empresariais">
    <meta name="description" content="Trazendo informações e serviços a seu favor">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="rhmixadm.com.br">
    <meta property="og:title" content="RH MIX - Serviços Empresariais">
    <meta property="og:description" content="Trazendo informações e serviços a seu favor">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/rhmix-adm.appspot.com/o/logoRed-01.png?alt=media&token=2a530690-f3aa-432c-9f0f-fac6ef92724f">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="rhmixadm.com.br">
    <meta property="twitter:title" content="RH MIX - Serviços Empresariais">
    <meta property="twitter:description" content="Trazendo informações e serviços a seu favor">
    <meta property="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/rhmix-adm.appspot.com/o/logoRed-01.png?alt=media&token=2a530690-f3aa-432c-9f0f-fac6ef92724f">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M3F5K2Q');</script>
    <!-- End Google Tag Manager -->

  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3F5K2Q"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <alterdata-partner></alterdata-partner>

    <script src="https://appconexaocontabil.alterdata.com.br/static/selo.js"></script>
  </body>
</html>
